version: '2.1'
orbs:
  cypress: cypress-io/cypress@3
workflows:
  TestPages:
    jobs:
      - cypress/run:
          cypress-command: npx cypress run --browser chrome --spec cypress/e2e/testPages/*.cy.js
          install-browsers: true